<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]
  RewriteRule ^ index.php [L,QSA]
</IfModule>

# Contact form environment variables (can be overridden by Xserver panel if needed)
SetEnv GAMI_CONTACT_TO info@ai.gami.jp
SetEnv GAMI_MAIL_FROM noreply@ai.gami.jp
